<header class="app-header navbar header-sigap">

  <!--<button class="navbar-toggler d-lg-none" type="button" appMobileSidebarToggler>&#9776;</button>-->
  <!--<a class="navbar-brand" href="#"></a>-->
  <!--<button class="navbar-toggler d-md-down-none" type="button" appSidebarToggler>&#9776;</button>-->

  <!--<ul class="nav navbar-nav d-md-down-none">-->
  <!--<li class="nav-item px-3">-->
  <!--<a class="nav-link" href="#">Dashboard</a>-->
  <!--</li>-->
  <!--<li class="nav-item px-3">-->
  <!--<a class="nav-link" href="#">Users</a>-->
  <!--</li>-->
  <!--<li class="nav-item px-3">-->
  <!--<a class="nav-link" href="#">Settings</a>-->
  <!--</li>-->
  <!--</ul>-->

  <div class="logo_grafica">
    <div class="logo">
      <img class="img-logo-header" src="../../../../assets/sigap/img/logo.png" alt="">
    </div>
    <div class="grafica"></div>
  </div>

  <div class="usuario">
    <div class="other-opt">

      <!--<ul id="help-opt" class="nav nav-pills">-->
        <!--<li class="dropdown" routerLinkActive="open" appNavDropdown>-->
          <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle" appNavDropdownToggle>Idioma<b-->
            <!--class="caret"></b></a>-->
          <!--<ul class="dropdown-menu nav-dropdown-items">-->

            <!--<li><a href="#">Español</a></li>-->
            <!--<li><a href="#">Inglés</a></li>-->

          <!--</ul>-->
        <!--</li>-->

        <!--<li class="dropdown">-->
          <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Ayuda <b class="caret"></b></a>-->
          <!--<ul class="dropdown-menu">-->
            <!--<li><a href="#">Manual</a></li>-->
            <!--<li><a href="#">Acerca de...</a></li>-->
          <!--</ul>-->
        <!--</li>-->
      <!--</ul>-->


    </div>

    <div class="content_avatar">
      <div class="avatar2"><img class="avatar-default" src="../../../../assets/sigap/img/avatar_defauld.png" alt="">
      </div>
    </div>

    <div class="user-opt">

      <ul id="user-opt" class="nav navbar-nav ml-auto">

        <li class="nav-item dropdown user-profile" dropdown (onToggle)="toggled($event)">

          <a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">
            <span class="d-md-down-none"> {{ username }} </span>
          </a>

          <div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">

            <div class="dropdown-header text-center"><strong> {{ 'user.menu.account' | translate }} </strong></div>

            <!--<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span-->
              <!--class="badge badge-info">42</span></a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span-->
              <!--class="badge badge-success">42</span></a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span-->
              <!--class="badge badge-danger">42</span></a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span-->
              <!--class="badge badge-warning">42</span></a>-->

            <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->

            <!--<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span-->
              <!--class="badge badge-default">42</span></a>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span-->
              <!--class="badge badge-primary">42</span></a>-->
            <!--<div class="divider"></div>-->
            <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>-->

            <a (click)="logout()" class="dropdown-item" [routerLink]="['/system/login']"><i class="fa fa-lock"></i> {{
              'user.menu.logout' | translate }}</a>
          </div>
        </li>
        <!--<button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>-->
      </ul>

      <!--<ul id="user-opt" class="nav nav-pills">-->
      <!--<li class="dropdown">-->
      <!--<a href="#" data-toggle="dropdown" class="dropdown-toggle">Administrador<b class="caret"></b></a>-->
      <!--<ul class="dropdown-menu">-->

      <!--<li><a href="#">Perfil</a></li>-->
      <!--<li><a href="#">Desconectarse</a></li>-->

      <!--</ul>-->
      <!--</li>-->
      <!--</ul>-->
    </div>

  </div>

  <!--<ul class="nav navbar-nav ml-auto">-->

  <!--<li class="logo_grafica">-->
  <!--<div class="logo">-->
  <!--<img class="img-logo-header" src="../../../../assets/sigap/img/logo.png" alt="">-->
  <!--</div>-->
  <!--<div class="grafica"></div>-->
  <!--</li>-->


  <!--<li class="li-grafica-header">-->
  <!--<img class="img-grafica-header" src="../../../../assets/sigap/img/grafica.jpg">-->
  <!--</li>-->

  <!--<li class="nav-item d-md-down-none">-->
  <!--<a class="nav-link" href="#"><i class="icon-bell"></i><span class="badge badge-pill badge-danger">5</span></a>-->
  <!--</li>-->

  <!--<li class="nav-item d-md-down-none">-->
  <!--<a class="nav-link" href="#"><i class="icon-list"></i></a>-->
  <!--</li>-->

  <!--<li class="nav-item d-md-down-none">-->
  <!--<a class="nav-link" href="#"><i class="icon-location-pin"></i></a>-->
  <!--</li>-->

  <!--<li class="nav-item dropdown user-profile" dropdown (onToggle)="toggled($event)">-->

  <!--<a href class="nav-link dropdown-toggle" dropdownToggle (click)="false">-->
  <!--<img src="assets/img/avatars/6.jpg" class="img-avatar" alt="admin@bootstrapmaster.com">-->
  <!--<span class="d-md-down-none">admin</span>-->
  <!--</a>-->

  <!--<div class="dropdown-menu dropdown-menu-right" *dropdownMenu aria-labelledby="simple-dropdown">-->

  <!--<div class="dropdown-header text-center"><strong> {{ 'user.menu.account' | translate }} </strong></div>-->

  <!--<a class="dropdown-item" href="#"><i class="fa fa-bell-o"></i> Updates<span class="badge badge-info">42</span></a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-envelope-o"></i> Messages<span class="badge badge-success">42</span></a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-tasks"></i> Tasks<span class="badge badge-danger">42</span></a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-comments"></i> Comment<span class="badge badge-warning">42</span></a>-->

  <!--<div class="dropdown-header text-center"><strong>Settings</strong></div>-->

  <!--<a class="dropdown-item" href="#"><i class="fa fa-user"></i> Profile</a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-wrench"></i> Setting</a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-usd"></i> Payments<span class="badge badge-default">42</span></a>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-file"></i> Projects<span class="badge badge-primary">42</span></a>-->
  <!--<div class="divider"></div>-->
  <!--<a class="dropdown-item" href="#"><i class="fa fa-shield"></i> Lock account</a>-->
  <!--<a (click)="logout()" class="dropdown-item" [routerLink]="['/system/login']"><i class="fa fa-lock"></i> {{ 'user.menu.logout' | translate }}</a>-->
  <!--</div>-->
  <!--</li>-->
  <!--<button class="navbar-toggler d-md-down-none" type="button" appAsideMenuToggler>&#9776;</button>-->
  <!--</ul>-->

</header>
